@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: JetBrainsMono;
  src: url("/fonts/EuclidCircularA/EuclidCircularALight.ttf") format("woff2");
  font-wheit: 100;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA/EuclidCircularALight.ttf") format("woff2");
  font-wheit: 300;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA/EuclidCircularARegular.ttf") format("woff2");
  font-wheit: 400;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA/EuclidCircularAMedium.ttf") format("woff2");
  font-wheit: 500;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA/EuclidCircularABold.ttf") format("woff2");
  font-wheit: 700;
}

html {
  font-family: EuclidCircularA;
}

@layer components {
  .border-radius {
    @apply rounded-2xl;
  }

  .app-header {
    @apply h-[64px];
  }
  .app-footer {
    @apply h-[58px];
  }
  .app-main {
    min-height: calc(100vh - 64px - 58px);
    @apply mt-[64px];
  }

  .page-container {
    @apply container mx-auto px-middle py-5;
  }

  .tooltip-text {
    @apply text-xs;
  }
}

/* modal */
.modal-fade-enter {
  opacity: 0;
}
.modal-fade-enter > div {
  transform: scale(0.5);
}
.modal-fade-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
.modal-fade-enter-active > div {
  transform: scale(1);
  transition: transform 150ms;
}
.modal-fade-exit {
  opacity: 1;
}
.modal-fade-exit > div {
  transform: scale(1);
}
.modal-fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}
.modal-fade-exit-active > div {
  transform: scale(0.5);
  transition: transform 150ms;
}
