@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .border-radius {
    @apply rounded-none;
  }

  .app-header {
    @apply h-[64px];
  }
  .app-footer {
    @apply h-[58px];
  }
  .app-main {
    min-height: calc(100vh - 64px - 58px);
    @apply mt-[64px];
  }

  .page-container {
    @apply container mx-auto px-middle py-5;
  }
}
